$foreground-color: #575279;
$foreground-color-light: #807c99;
$significant-color-first: #cd7c7d;
$significant-color-second: #56949f;
$significant-color-third: #b4637a;
$background-color-primary: #eee6dd;
$background-color-secondary: #ddd0c6;
$border-color: #d1c9c2;
$background-focus-line: #e3dad3;
$font-color: #222222;

$context-menu-background: #e6dbd1;
$context-menu-item-hover: #dbd1ca;

$gray-1: #8b8b8b;
$gray-2: #999999;
$gray-3: #e5e5e5;
$gray-4: #696969;
$gray-5: #202020;
